{% extends "base.html" %}
{% block content %}
{% include "alerts.html" %}
<div class="row">

    
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="bg-dark col-2">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100 ">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    
                    <li>
                        <a href="{% url 'Dashboard' %}" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
                       
                    </li>
                    <li>
                        <a href="#jdsf" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
                    </li>
                    <div class="LogOutBtn">
                   <li>
                        <a href="{% url 'Logout' %}" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Logout</span></a>
                    </li>
                </div>
              
                
                </ul>
        
               
        </div>
        <div class="col-10 py-3">
           
        </div>
    </div>
</div>


{% endblock  %}

