
{% extends "base.html" %}
{% block content %}

{% if cartitems %}
<div class="row">
    <div class="col-9">
        <div class="cartProduct" >
           <table class="w-100">
            <thead>
                <th scope="col">S.no</th>
                <th scope="col" class="text-center">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">total</th>
                <th scope="col">Action</th>
            </thead>
          
           <tbody>
            {% for cartitem in cartitems %}
            <tr>
                
                <td>{{ forloop.counter}}</td>
                <td class="cartProductName"><h6><img src="{{cartitem.product.productImage.url}}" width="100" height="100"></h6><h6><a href="{{cartitem.product.get_url}}">{{cartitem.product.productName}}<a/>
                    <p>
                
                 {% for color in  cartitem.variation.colors %}
                 color:  {{color}}
               {% endfor %}
                {% for size in  cartitem.variation.sizes %}
                 size:   {{size}}
               {% endfor %}
            </p></h6></td>
                <td><a href="{% url 'removeCart' cartitem.product.id %}"><button> - </button></a> {{cartitem.quantity}} <a href="{% url 'addCart' cartitem.product.id %}"><button>+</button></a></td>
                <td>{{cartitem.product.price}}</td>
                <td>${{cartitem.sub_total}}</td>
                <td>  <a href="{% url "removeCartButton" cartitem.product.id %}"><button class="btn btn-danger">Remove</button></a></td>
                
            
            </tr>
            {% endfor %}
          

         
            
             
           </tbody>
           </table>
             
        </div>
      
    </div>
    <div class="col-3">
    <div class="cartTotal">
        <div class="cart">
            <h6>Total Price </h6><span>{{total}}</span>
            
        </div>
        <div class="cart">
            <h6>Tax </h6><span>{{tax}}</span>
            
        </div>
        <hr>
         <div class="cart">
            <h6>Grand Total </h6><span>{{grandTotal}}</span>
            
        </div>

    </div>
    </div>
    
</div>
  {% else %}
  <div class="emptyCartitems my-2 text-center">
        <h2 class="text-danger">Your Shoping Cart is Empty</h2>
        <a href="{% url "storeList" %}"><button class="btn btn-dark text-capitalize">Continue Shoping</button></a>  
    </div>
    {% endif %}
{% endblock content %}
