{% extends "base.html" %}
{% block content %}
<form method="post" action="{% url 'placeorder' %}">
    {% csrf_token %}
<div class="row">
    
    <div class="col-6">
        <div class="Billing-form">
            <h3>Billing Address</h3>
                    <div class="row">
                    <div class="col-md-6">
                    <label for="firstName" class="form-label">First Name</label>
                   <input type="text" name="firstName" class="form-control" placeholder="Enter the First Name" required>
                   
                    </div>
                    <div class="col-md-6">
                    <label for="lastName" class="form-label">Last Name</label>
                   <input type="text" name="lastName" class="form-control" placeholder="Enter the Last Name" required>
                   
                    </div>
                    <div class="col-md-6">
                    <label for="email" class="form-label">Email</label>
                   <input type="email" name="email" class="form-control" placeholder="Enter the Email " required>
                   
                    </div>
                    <div class="col-md-6">
                    <label for="phoneNumber" class="form-label">phone Number</label>
                   <input type="tel:" name="phoneNumber" class="form-control" placeholder="Enter the phoneNumber" required>
                   
                    </div>
                    <div class="col-md-6">
                    <label for="addressLine1" class="form-label">Address Line 1</label>
                   <input type="text" name="addressLine1" class="form-control" placeholder="Enter the addressLine1" required>
                   
                    </div>
                     <div class="col-md-6">
                    <label for="addressLine2" class="form-label">Address Line 2</label>
                   <input type="text" name="addressLine2" class="form-control" placeholder="Enter the addressLine2" required>
                   
                    </div>
                      <div class="col-md-6">
                    <label for="city" class="form-label">City</label>
                   <input type="text" name="city" class="form-control" placeholder="Enter the city" required>
                   
                    </div>
                     <div class="col-md-6">
                    <label for="state" class="form-label">state</label>
                   <input type="text" name="state" class="form-control" placeholder="Enter the state" required>
                   
                    </div>
                     <div class="col-md-6">
                    <label for="country" class="form-label">Country</label>
                   <input type="text" name="country" class="form-control" placeholder="Enter the country" required>
                   
                    </div>
                    <div class="col-md-6">
                         <label for="orderNote" class="form-label">Order Note</label>
                         <textarea name="orderNote"  class="form-control" placeholder="Enter the orderNote" required></textarea>

                    </div>
                    
                
                </div>
              
                
            </div>
        </div>
        
        <div class="col-6 ">
            <table class="w-100">
            <thead>
                
                <th scope="col" class="text-center">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                
            </thead>
           <tbody>
            {% for cartitem in cartitems %}
            <tr>
                
            
                <td class="cartProductName"><img src="{{cartitem.product.productImage.url}}" width="100" height="100"><h6 class="mx-2">{{cartitem.product.productName}}
                    <p style="font-weight:400;">
                
                 {% for color in  cartitem.variation.colors %}
                 color:  {{color}}
               {% endfor %}
                {% for size in  cartitem.variation.sizes %}
                 size:   {{size}}
               {% endfor %}
            </p></h6></td>
                
                <td>
                   {{cartitem.quantity}}
               
                    
                </td>
                <td>${{cartitem.product.price}}</td>
       

            </tr>
            {% endfor %}

           </tbody>
        </table>
        <div class="checkout_Button text-center">
        <button class="btn btn-primary mt-4 w-50 " type="submit">Place Order</button>
        </div>
        </div> 
    </div>
</form>
{% endblock content %}

