{% extends 'base.html' %}
{% block content %}
<div class="container" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
    <div class="row" >
        <div class="col-6">
            <img src="{{singleproduct.productImage.url}}" width="100%" height="500">
        </div>
        <div class="col-6">
            <h2>{{singleproduct.productName}}</h2>
            <h4>${{singleproduct.price}}</h4>
            <p>{{singleproduct.description|truncatewords:20}}</p>

            {% if singleproduct.stock <= 0 %}
            <h4>Out of Stock</h4>
            {% else %}
            {% if incartitems %}
           <button type="button" class="btn btn-success
            btn-lg">Added to cart <i class="bi bi-check-lg"></i></button>
             <a href="{% url "Cartlist" %}"><button type="button" class="btn btn-primary
            btn-lg">View cart  <i class="bi bi-eye"></i>  </button></a>
           {% else%}
            <a href="{% url 'addCart' singleproduct.id %}"><button class="  w-50 btn btn-primary">Add to Cart</button></a> 
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}
