{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <h2>Our Store</h2>
    </div>
<div class="row">
    <div class="col-2">
        <h5>Categories</h5>
        <h6><a href="{% url 'storeList' %}" style="text-decoration:none;">All </a></h6>
        {% for cat in categories  %}
        <h6 class=""><a  href="{% url 'CategoryProduct' cat.slug %}" style="text-decoration:none;">{{cat.categoryName|capfirst}}</a></h6>
        
        {% endfor %}
   
    </div>
    
    <div class="col-10">
        <h5>{{productCount}} items found</h5>
    <div class="row">
    
    {% for product in  products %}
    <div class="col-4 my-2 ">
        <div class="card" style="box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;">
        <a href="{{product.get_url}}"><img src="{{product.productImage.url}}" class="card-img-top" alt="..." width='100%' height='380px'></a>
        
        <div class="card-body " style="padding:10px!important;">
                <h6 class="card-title ">{{product.productName|capfirst}}</h6>
                <h4 class="card-text text-danger">${{product.price}}</h4>
                <a href="{{product.get_url}}"><button class="form-control btn btn-primary">View Details</button> </a>
         
        </div>
        
        </div>
    </div>
    {% endfor %}
</div>
    </div>
    
   
    
</div>
<div class="row">
    <div class="col-12">

    <nav aria-label="Page navigation example">
  <ul class="pagination">
     {% if products.has_previous %}
     <li class="page-item"><a class="page-link" href="?page={{products.previous_page_number}}">Previous</a></li>
  
    {% endif %}
    {% for n in numberofpage %}
   
    <li class="page-item"><a class="page-link" href="?page={{n}}">{{n}}</a></li>
  
    {% endfor %}

    {% if products.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ last_page}}">Last</a></li>
    <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">Next</a></li>
    {% endif %}
  </ul>
</nav>
    

    </div>
</div>
</div>
{% endblock %}
